<!--
<table class="table">
      <tbody>
    <%# @news.each do |n| %>
      <%# next if n["Title"].nil? or n["Title"].empty? %>
        <tr>
          <td style="width:90%"><h3><a href="<%#= @base %><%#= n['Link'] %>" target="_blank"><%#= n["Title"] %></a></h3></td>
          <td style="width:10%"><img src="<%#= @img_base %><%#= n['ImgLink']%>" width="140" height="90" /></td>
        </tr>
    <%# end %>
      </tbody>
</table>
-->
	<% @news.each_slice(3) do |row_items| %>
	<div style="margin-top:20px;"></div>
		<div class="row">
		<% row_items.each do |n| %>
      <% next if n["Title"].nil? or n["Title"].empty? %>
			<div class="col-lg-4">
				<div jsname="WsjYwc" class="Ihwked UB0dDd GcESAf XkfHGe  hE2QI iFJd6c" data-iid="z13rc5iyor3jethf323lhzxrzszaf1qqh04" jsaction="click:qkHMFc" jslog="6941; 1:z13rc5iyor3jethf323lhzxrzszaf1qqh04; track:impression,click" tabindex="-1" aria-label="Post view" role="region" style="">
            <div class="ELUvyf">
              <div jsname="uwfEUd" id="body:i46">
                <div class="fu5e3b sMVRZe" style="">
                  <div class="wftCae" jsname="EjRJtf" dir="ltr"><h4><a href="<%= @base %><%= n['Link'] %>" target="_blank"><%= n["Title"] %></a></h4> </div>
                </div>
              </div>
            </div>
            <div jsname="MTOxpb">
              <div>
                <div class="UE4aic" id="i47" jscontroller="hzMnDc" jsmodel="bTCmc" jsdata="LfLzDd;https://plus.google.com/photos/106059307368713535123/albums/6376103554456787041?authkey=CJPk1aW4-5zOLQ;42" jsaction="click:KjsqPd(preventDefault=true);H5bEoe:KjsqPd(preventDefault=true);">
                  <div class="tOS5" jscontroller="MaIFyc" jsmodel="bTCmc" jsdata="LfLzDd;https://plus.google.com/photos/106059307368713535123/albums/6376103554456787041?authkey=CJPk1aW4-5zOLQ;42" jsaction="rcuQ6b:npT2md;JoGwKe:CfS0pe;xRhIYd:Yr1Sef; touchstart:QOfrR;">
                    <div class="WvxPQb" jsname="A08Sxc">
                      <img class="qRwspd qnIxAe" jsname="xJzy8c"  data-width="2048" data-height="1536" src="<%= @img_base %><%= n['ImgLink']%>" alt="Photo" width="424" height="120">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
			</div>
		<% end %>
		</div>
	<% end %>
